{% extends 'shop/basic.html' %}

{% block title %} About {% endblock %}
{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><b>Hello, world!</b></h1>
        <h4 class="display-3">About Us</h4>
        <p><b>MBS's</b> is a company headquartered in Bangalore, Karnataka, India, and registered in Singapore.[8] The company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.

The service competes primarily with Amazon's Indian subsidiary and domestic rival Snapdeal.[9][10] As of March 2017, MBS's held a 39.5% market share of India's e-commerce industry.[11] MBS's has a dominant position in the apparel segment bolstered by its acquisition of Myntra and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[12] MBS's also owns PhonePe, a mobile payments service based on the Unified Payments Interface.

In August 2018, U.S.-based retail chain Walmart acquired an 81% controlling stake in MBS's for US$16 billion, valuing the company at $20 billion.According to a report in November 2014, MBS's was operating through a complex business structure which included nine firms, some registered in Singapore and some in India. In 2012, MBS's co-founders sold WS Retail to a consortium of investors led by Rajeev Kuchhal.[79] MBS's’s Indian entities are owned by MBS's Pvt. Ltd, which is registered in Singapore. The Singapore-registered entity owns eight Indian companies, including MBS's Internet Pvt. Ltd, the company that runs the e-commerce marketplace MBS's.com; MBS's India Pvt. Ltd, the wholesale business; and MBS's Logistics Pvt. Ltd, which runs Ekart.</p>
      <p><a class="btn btn-dark btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>



    <hr>

  </div> <!-- /container -->

</main>
{% endblock %}